Jinja2==2.7.2
Markdown==2.2.0
MarkupSafe==0.18
Pillow==2.3.0
PyYAML==3.10
Pygments==1.6
StrangeCase==4.6.3
Unidecode==0.04.9
argh==0.24.1
argparse==1.2.1
chomsky==1.0.2
misaka==1.0.2
pathtools==0.1.2
plywood==1.6.3
pyScss==1.2.0.post3
six==1.5.2
watchdog==0.7.0
wsgiref==0.1.2

# rubygem-compass
# rubygem-rb-inotify
