$symbol-bg: #246EB9;

body {
    background-color: #fff;
    color: #555;
}

h1, h2, h3 {
    color: #444;
}

header h2 {
    color: #5EB12C;
}

pre, code, tt {
    background-color: #f0f0f0;
    color: #555;
}

a {
    // color: #5EB12C; /* light green */
    color: $symbol-bg;
}

.page-footer {
    border-top-color: $symbol-bg;
    border-top-style: solid;
    border-top-width: 3px;
}

.flaticon {
    color: #333;
}
