img, video {
    max-width: 100%;
    height: auto;
}

div.post-image {
    a, img, video {
        display: block;
    }

    img, video {
        width: auto;
    }

    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    @media (min-width: 36em) {
        margin-left: 3em;
        margin-right: 2em;
        max-width: 28em;

        &.wide {
            margin-left: 0em;   // reset
            margin-right: 0em;  // reset
            max-width: none;    // reset
        }

        &.bleed {
            margin-left: 0em;   // reset
            margin-right: 0em;  // reset
            max-width: none;    // reset
            width: 100vw;       // reserves *vertical* room for absolutely positioned below
            visibility: hidden;
        }

        &.bled {
            margin-left: 0em;   // reset
            margin-right: 0em;  // reset
            max-width: none;    // reset
            position: absolute;
            left: 0;
            width: 100%;
            margin-top: 0;
        }
    }
}

/* WIP (works but uncertain if this is the best way)
// prevent horizontal scroll with full-bleed images
body {
    overflow-x: hidden;
}
*/
