---
---

@import "normalize";
@import "styles";
@import "flaticon";
@import "susy";

$susy :(
    columns: 4,
    use-custom: (rem: true),
);

.container {
    @include container(36em);

    padding-left: 1em;
    padding-right: 1em;
}

.page-footer {
    @include span(full);
}

.info-social {
    float: right;
}
