---
---

<!DOCTYPE html>
<html class="no-js"><!-- modernizr rewrites to class="js" -->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">

        <!--===========================================================
             site and page titles, with open graph
        =============================================================-->
        {% if page.title_override %}
            <title>{{page.title_override}}</title>
        {% elsif page.title and page.title != site.title %}
            <title>{{page.title}} &bull; {{site.title}}</title>
        {% else %}
            <title>{{site.title}}</title>
        {% endif %}
        <meta property="og:site_name" content="{{site.title}}">
        <meta property="og:title" content="{{page.title}}">

        <!--===========================================================
             page description
        =============================================================-->
        {% if page.description %}
            <meta name="description" content="{{page.description|strip_html|strip_newlines}}">
            <meta property="og:description" content="{{page.description|strip_html|strip_newlines}}">
        {% endif %}

        {% comment %}
        <!--===========================================================
             page image for social sharing
        =============================================================-->
        <meta content="/img/logo-high-resolution.png" property="og:image">
        {% endcomment %}

        <!--===========================================================
             atom/rss feeds
        =============================================================-->
        <link rel="alternate" type="application/atom+xml" title="{{site.title}}" href="/atom.xml">
        <link rel="alternate" type="application/rss+xml" title="{{site.title}}" href="/rss.xml">

        <!--===========================================================
             site verification
        =============================================================-->
        <link rel="me" href="https://micro.blog/agriffis">

        {% comment %}
        <script src="/js/vendor/modernizr-3.3.1-custom.min.js"></script>
        {% endcomment %}

        <!-- img srcset polyfill -->
        <script>
            // Picture element HTML5 shiv
            document.createElement("picture");
        </script>
        <script src="/js/vendor/picturefill-3.0.2.min.js" async></script>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700" rel="stylesheet" type="text/css">
        <link href="/fonts/Ubuntu-Mono.css" media="screen, projection" rel="stylesheet" type="text/css">
        <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css">

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            {% if jekyll.environment == "production" %}
            ga('create', 'UA-39603016-1', 'arongriffis.com');
            {% else %}
            ga('create', 'UA-39603016-2', 'dev.arongriffis.com');
            {% endif %}
            ga('send', 'pageview');
        </script>
    </head>

    <body class="{{page.body_class|default:layout.body_class}}">
        {{content|pants}}
    </body>
</html>
